<h2>About When</h2>
<p><strong>When</strong> is a small applet designed with Ubuntu in mind that
    sits in the <em>top panel</em> and allows the user to run unattended tasks
    in the background, when certain conditions are met. Conditions are not
    limited to time and intervals, but also include checking results provided
    by other commands, session idle time and a number of session and system
    related events.</p>

<h2>Features</h2>
<ul>
  <li>Access Everything via GUI</li>
  <li>Trigger by Time, Command and Events</li>
  <li>Task History with Results</li>
  <li>Notifications</li>
  <li>Pause and Resume Scheduler</li>
  <li>Retain Configuration across Sessions</li>
  <li>Setup as Startup Application</li>
  <li>Localization</li>
  <li><a href="http://when-documentation.readthedocs.io/en/latest/tutorial.html">Tutorial</a></li>
  <li>Dedicated <a href="https://github.com/almostearthling/when-command-testsuite">Test Suite</a></li>
</ul>

<p>For more information, please refer to the
    <a href="http://when-documentation.readthedocs.io/">Documentation</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/almostearthling/when-command">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-folder fa-lg main-list-item-icon"></span>
    <a href="https://github.com/almostearthling/when-command/releases">Downloads</a>
  </li>
</ul>

<small>
    <em>When</em> icon by Rafi at <a href="http://www.graphicsfuel.com/2012/08/alarm-clock-icon-psd/">GraphicsFuel</a>.
    Theme based on <a href="https://github.com/excentris/compass">Compass</a> by Eduardo Rubio (Excentris).
</small>
